::after,
::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}
h2 {
    text-transform: uppercase;
}
.primary-button {
    color: #b52547;
    background: none;
    border: #b52547 1px solid;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: .5rem 1rem;
    margin-right: auto;
}
.download-button {
    color: #b52547;
    background: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
ul {
    list-style-type: square;
}
ul li::marker {
    color: #b52547;
}
/* ======================== Temp ======================== */

img {
    object-fit: cover;
    width: 150px;
    height: 150px;
}

/* ======================== Logo ======================== */

.heading {
    position: relative;
    color: #b52547;
    font-weight: bolder;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-bottom: #e5e5e5 1px solid;
    padding: 2rem 0 1rem;
    text-transform: uppercase;
}
.heading h1 {
    font-size: 2.1rem;
}
.heading h1 + .logo {
    width: 4.2rem;
    height: 4.2rem;
    border: #b52547 3px solid;
    border-radius: 50%;
}

/* ======================== Languages ======================== */

.lang {
    list-style-type: none;
    position: absolute;
    top: 0;
    right: .5rem;
    display: flex;
    gap: 2rem;
}
.lang a {
    color: #000;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .75rem;
}
.lang .selected a {
    color: #b52547;
    opacity: 0.8;
}

/* ======================== Navigation ======================== */

nav > * {
    transition: .5s;
}
.toggle-menu {
    color: #b52547;
    background: #FFF;
    box-shadow: 0 0 2px #cdcdcd;
    border-radius: 0 0 0 .5em;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
}
.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu a {
    display: block;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: .75rem;
    padding: .75em 1.25em;
}
.menu .selected a {
    color: #b52547;
}
.menu .selected::after {
    content: "";
    display: block;
    background-color: #b52547;
    width: 50%;
    height: 2px;
    margin: auto;
}

/* ======================== Carousel ======================== */

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: min(30vw,30rem);

}
.carousel-element {
    animation: carousel-auto-scroll calc(2 * 5s) infinite;
    animation-delay: calc(var(--item) * 5s);
    opacity: 0;
    position: absolute;
}
.carousel-element img {
    width: 75vw;
    height: min(30vw,30rem);
}
.carousel-element p {
    color: #FFF;
    background: #b52547;
    padding: 2rem;
    text-transform: uppercase;
    position: absolute;
    bottom: 10vw;
    left: 2.5rem;
    font-size: 1.25vw;
    width: 32.5vw;
    max-width: 26rem;
}
.carousel-radio {
    padding: 1rem;
    display: flex;
    gap: 1em;
}
@keyframes carousel-auto-scroll {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    40% {
      transform: translateX(0);
      opacity: 1;
    }
    60% {
      transform: translateX(-100px);
      opacity: 0;
    }
}

/* ======================== Articles ======================== */

body > article {
    background: #FFF;
    font-size: .85rem;
}
body article:nth-child(even) {
    background: #F2F3F5;
}
/* ------------------------ Article 1 ------------------------ */
.article1 {
    display: flex;
    justify-content: flex-end;
    padding-bottom: min(calc(10vw + 1rem), 5rem);
}
.article1 > section {
    background-color: #FFF;
    position: absolute;
    left: 15vw;
    width: 42.5vw;
    max-width: 40%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 1;
}
.article1 > section > p {
    overflow: hidden;
    max-height: 15rem;
}
.article1 .label {
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b52547;
    border-radius: 50%;
    border: 1px solid #b52547;
    width: 5.625rem;
    height: 5.625rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 1rem;
}

/* ------------------------ Article 2 ------------------------ */

.article2 {
    display: flex;
    justify-content: flex-start;
    padding-top: calc(-.75vw + 55rem);
    padding-bottom: 4.5rem;
    position: relative;
}
.article2 > .container {
    position: absolute;
    top: -5rem;
    right: 15vw;
    width: 35vw;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.article2 > .container > img {
    width: 100%;
    height: 25vw;
    min-height: 15rem;
}
.article2 > .container > section {
    max-height: calc(-.75vw + 40rem);
    background-color: #F2F3F5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    padding-bottom: 7rem;
    z-index: 2;
}
.article2 > .container > section > h2{
    display: flex;
    justify-content: flex-start;
}
.article2 > .container > section > h2 > img {
    width: 2.5em;
    height: 2.5em;
    object-fit: cover;
}
.article2 > .container > section > ul{
    margin-left: 1rem;
}
.article2 > img {
    position: absolute;
    height: 10rem;
    z-index: 1;
}

/* ------------------------ Article 3 ------------------------ */

.article3 {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
}
.article3 > * {
    margin: 1.5rem 1.5rem;
}
.article3 > .container {
    display: grid;
	grid-template-columns: repeat(auto-fill,minmax(25rem,calc(1fr - 3rem)));
	grid-gap: 2rem;
}
.article3 > .container > section {
    background: #F2F3F5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.article3 > .container > section > header > img {
    width: 6rem;
    height: 6rem;
    position: relative;
    right: 1.75rem;
    bottom: 1.75rem;
    float: left;
}
.article3 > .container > section > header > div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-weight: bold;
}
.article3 > .container > section > header > div::after {
    content: "";
    display: block;
    background-color: #b52547;
    width: 3rem;
    height: 3px;
}
.article3 > .container > section > p {
    min-height: 3rem;
}
.article3 > .primary-button {
    margin-right: auto;
}

/* ======================== Footer ======================== */

footer {
    font-size: .75rem;
    background: #cdcdcd;
    padding: 1rem;
    text-transform: uppercase;
}
footer ul {
    list-style-type: none;
}
footer > ul {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border-bottom: #e5e5e5bb 2px solid;
}
footer > ul > li > a {
    text-transform: uppercase;
    color: #FFF;
    text-decoration: none;
}
footer > ul > li > ul > li {
    margin-top: .75rem;
    text-decoration: none;
}
footer > .infos p {
    margin-top: .75rem;
}
footer > .infos {
    display: flex;
    align-items: flex-end;
    gap: 7.5vw;
    width: 100%;
}
footer > .infos > *:nth-child(2) {
    flex-grow: 1;
}
footer > .infos > *:last-child {
    color: #FFF;
    font-size: .75em;
}

/* ======================== Media Query ======================== */

@media screen and (min-width: 1024px) {
    body > * {
        padding-right: 15vw;
        padding-left: 15vw;
    }
    .article2 > img {
        bottom: 1.5rem;
        width: 25rem;
        height: 18rem;
    }
    .toggle-menu {
        display: none;
    }
}
@media screen and (max-width: 1024px) {
    .lang.hide,
    .article1 .label,
    footer .hide {
        display: none;
    }
    nav .hide {
        background: #FFF;
        position: absolute;
        top: 0;
        left: -45vw;
        display: flex;
        flex-direction: column;
        width: 45vw;
        padding: 1rem;
        z-index: 10;
        border-radius: 0 0 1em;
    }
    nav.shown .hide {
        box-shadow: 0 0 2px #cdcdcd;
        transform: translateX(45vw);
    }
    .article1 > section {
        position: relative;
        left: 0;
        width: 100%;
        max-width: none;
    }
    .article2 {
        padding-top: calc(40rem);
    }
    .article2 > .container {
        position: absolute;
        top: -5rem;
        right: 0;
        width: 100vw;
        max-width: none;
        align-items: flex-end;
        gap: 0;
    }
    .article2 > .container > img {
        width: 75%;
        min-height: 10rem;
    }
    .article3 {
        padding-top: 7rem;
    }
    footer > ul {
        flex-direction: column;
    }
}